<section class="ending">
			<div class="container">
				<div class="row">
					<div class="col-md-2 end">
                        <div>Buyer Centeral</div>
						<ul>
							<li><a href="">Terms & conditons us</a></li>
							<li><a href="">Privacy Policy</a></li>
							<li><a href="">B2B Login</a></li>
						</ul>
                    </div>
                    
                    <div class="col-md-2 end">
                        <div>Help</div>
						<ul>
							<li><a href="">Shipping help</a></li>
							<li><a href="">Return Policy</a></li>
							<li><a href="">Wallet Policy</a></li>
						</ul>
                    </div>
                    
                    <div class="col-md-2 end">
                        <div>About Us</div>
						<ul>
							<li><a href="">About us</a></li>
							<li><a href="">Contact us</a></li>
						</ul>
                    </div>
                    
                    <div class="col-md-2 end">
                        <div>Our Stores</div>
						<ul>
							<li><a href="">Stores</a></li>
							<li><a href="">Become a Franchise</a></li>
						</ul>
					</div>
					
					<div class="col-md-4 social">
                            <div>Connect</div>
						<ul>
							<li><a href=""><i class="fa fa-facebook"></i></a></li>
							<li><a href=""><i class="fa fa-twitter"></i></a></li>
							<li><a href=""><i class="fa fa-google"></i></a></li>
							<li><a href=""><i class="fa fa-instagram"></i></a></li>
							<li><a href=""><i class="fa fa-whatsapp"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>