{% load static%}

<section id="headphones">
            <h2 class="text-center">HEADPHONES</h2>
            <!--most_popular-->
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12 ">
                        <div class="popular_items hello"><img src="{% static 'img/head11.jpeg' %}" alt="" width="150px" height="185px">
                            <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                        <span class="price">&#x20B9; 500 &nbsp;&nbsp; <s class="cut"> &#x20B9; 800</s></span>
                        </div>
                
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/head12.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 900 &nbsp;&nbsp; <s class="cut"> &#x20B9; 999</s></span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/head13.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 400 &nbsp;&nbsp; <s class="cut"> &#x20B9; 700</s></span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/head11.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 600 &nbsp;&nbsp; <s class="cut"> &#x20B9; 900</s></span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/head12.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 700 &nbsp;&nbsp; <s class="cut"> &#x20B9; 850</s></span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/head13.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 500 &nbsp;&nbsp; <s class="cut"> &#x20B9; 749</s></span>
                        </div>
                    </div>
                </div>
            </div>
    </section>