{% load static%}

<section id="trust">
            <h6 class="text-center">Offical Licensed Merchandise</h6>
            <!--most_popular-->
            <div class="container">
                <div class="row">
                    <div class="col-md-1 col-sm-12 logo"></div>
                    
                    <div class="col-md-1 col-sm-12 offset-md-1 logo">
                        <img src="{% static 'img/t1.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t2.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t3.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t4.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t5.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t1.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t1.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t2.jpg' %}" alt="">
                    </div>


                    <div class="col-md-1 col-sm-12 logo">
                        <img src="{% static 'img/t5.jpg' %}" alt="">
                    </div>

                    <div class="col-md-1 col-sm-12 logo"></div>
                </div>  
            </div>
    </section>