{% load static%}

<section id="most_popular">
            <h2 class="text-center">MOST POPULAR</h2>
            <!--most_popular-->
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12"> 
                        <div class="popular_items"><img src="{% static 'img/most1.jpeg' %}" alt="" width="150px" height="185px"></div>
                        <div class="text-center">Casuals</div>
                    </div>

                    <div class="col-md-2 col-sm-12"> 
                        <div class="popular_items"><img src="{% static 'img/most2.jpeg' %}" alt=""  width="150px" height="185px"></div>
                        <div class="text-center">Denim</div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items"><img src="{% static 'img/most3.jpeg' %}" alt=""  width="150px" height="185px"></div>
                        <div class="text-center">Mufti</div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items"><img src="{% static 'img/most1.jpeg' %}" alt=""  width="150px" height="185px"></div>
                        <div class="text-center">Shirts</div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items"><img src="{% static 'img/most5.jpg' %}" alt=""  width="150px" height="185px"></div>
                        <div class="text-center">Players</div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items"><img src="{% static 'img/most6.jpeg' %}" alt=""  width="150px" height="185px"></div>
                        <div class="text-center">Leecoper</div>
                    </div>
                </div>
            </div>
    </section>