{% load static%}

<section id="sale">
            <h2 class="text-center">SALE - GET 1 FREE</h2>
            <!--most_popular-->
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-12 ">
                        <div class="popular_items hello"><img src="{% static 'img/most1.jpeg' %}" alt="" width="150px" height="185px">
                            <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                        <span class="price">&#x20B9; 500</span>
                        </div>
                
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/most2.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 900</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/most3.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 400</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/most5.jpg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 600</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/most6.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 500</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                        <div class="popular_items hello"><img src="{% static 'img/most2.jpeg' %}" alt=""  width="150px" height="185px">
                        <div class="caption_text">
                                <p>Lorem ipsum Lorem ipsum...</p>
                            </div>
                            <span class="price">&#x20B9; 900</span>
                        </div>
                    </div>

                </div>
            </div>
    </section>