
{% extends "base.html" %}
{% load static%}


{% block base_head%}
  <title> Login </title>
  <link rel="stylesheet" href='{% static "css/register.css" %}'>
{% endblock %}

{% block content%}
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <div id="login_form">
                    <h1>Register</h1>
                    <br/>
                    <form method="POST"> {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn-default">submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}